# Byte-compiled / optimized / DLL files
**/__pycache__/**
__pycache__/
*.py[cod]

# Environments
.venv/
.vscode/

# Configuration files
.env

# FastAPI stuff:
app/logs/
requirements.txt

# Sistem stuff:
app/atributs/
app/logic/